.splide__slide img {
    width: 100%;
    height: auto;
 
  }
  .splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .splide_slide {
    opacity: 0.6;
  }

  .splide_slide.is-active {
    opacity: 1;
  }

  @keyframes  popUp{
    0%{
      transform: scale(0);
    }
    transform: scale(0);
    }
    50%
    transform: scale (1.2);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes popUp {
  0% {
    transform: scale(0);
}
50%{
  transform: scale(1.2);
}
100%{
  transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
   opacity: 0;
  }
  100% {}


